.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2.5rem;
}

.section{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.about__container{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about{
    width: 20%;
    height: 20%;
}

.about__item{
    background: rgb(199, 0, 57, 0.06);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 35%;
}

.about__item:hover{
    border-color: black;
    background: transparent;
}

.about__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.about__item h3{
    margin: 1.2rem 0 2rem;
}

.about__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.des{
    width: 8rem;
    height: 5rem;
}


/* ========================= MEDIA QUERRIES (MEDIUM DEVICE) ==================== */
/* @media screen and (max-width: 1024px) {
    .portofolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
} */
  
  /* ========================= MEDIA QUERRIES (SMALL DEVICE) ==================== */
/* @media screen and (max-width: 600px) {
    .portofolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
} */
